		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Kli <span>jst</span></a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item">
					  <%= link_to "Homepage", lijsts_path %></li>
					<li>
			  <nav>
 		  		<%= link_to "Sign up", new_user_registration_path %>
	  		  </nav>
					</li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
