		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Kli <span>jst</span></a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item">
					  <%= link_to "Homepage", lijsts_path %></li>
					<li>
			  <nav>
			  	<% if user_signed_in? %>
				  <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>        
			  	<% else %>
 		  		  <%= link_to "Sign up", new_user_registration_path %>
 		  		<% end %>
	  		  </nav>
					</li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
