<div id="wrapper">
	<div id="wrapper2">
		<%= render 'shared/header' %>

		<div id="page">
			<div id="content">
				<div class="post">
<h2 class='title'>New Lijst</h2>
<%= render "form" %>
</div>
</div>
</div>
</div>
</div>
