<h2 class="title"><a href="#">About Klijst </a></h2>
<p class="meta" style="display:none"><span class="date">April 8, 2012</span><span class="posted" style="display:none">Posted by <a href="#">Someone</a></span></p>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
<p>Klijst is a pet project of <a href="http://benfulton.net">Ben Fulton</a>. The site name is meant to sound vaguely Nordic; 
the word Checklist, dropping the first few letters, and adding the extra J. The simple usage is for one person, the list originator,
to create a list, and then as other people finish the individual items they can check them off.</p>

<p>
In the future we hope to support comments on lists, mobile applications, and the ability to make lijsts private or shared
with just a few people.</p>

<p>Klijst is an open source Ruby on Rails project with the code available on <a href="https://github.com/benfulton/Klijst.com">Github</a>. 
	Feel free to fork the code and make pull requests if you like.</p>

</div>

