<h2 class="title"><a href="#">Contact</a></h2>
<p class="meta" style="display:none"><span class="date">April 8, 2012</span><span class="posted" style="display:none">Posted by <a href="#">Someone</a></span></p>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
<p>
	Questions? Comments? Send them to <a href="mailto:admin@klijst.com">admin@klijst.com</a>. 
	Or, enter an issue on the <a href="https://github.com/benfulton/Klijst.com/issues">Issue Tracker</a>
</p>
</div>

